<h1> My name is Henry Ao</h1>
<h2> I am from Walnut, California, which is in Southern California near Diamond Bar</h2>
<h3> Fun fact, I'm really into hype shit like shoes and clothes </h3>
<%= image_tag 'pic.jpg' %>